* {
  box-sizing: border-box;
}

body {
  background-color: aqua;
}

div {
  outline: solid 1px black;
}

/* tablet */
@media (max-width: 768px) and (min-width: 480px) {
  body {
    background-color: pink;
  }
}

/* phone */
@media (max-width: 479px) {
  body {
    background-color: coral;
  }
}