@media (max-width: 767px) {
  body {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
  }

  div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div:nth-child(1) {
    height: 75px;
  }

  div:nth-child(2) {
    height: 150px;
  }

  div:nth-child(3) {
    height: 125px;
  }

  div:nth-child(4) {
    height: 125px;
  }

  div:nth-child(5),
  div:nth-child(6),
  div:nth-child(7),
  div:nth-child(8) {
    height: 250px;
    width: 50%;
  }

  div:nth-child(9) {
    height: 80px;
  }
}

@media (min-width: 768px) {
  body {
    width: 768px;
    display: grid;
    grid-template-columns: 200px 250px 250px 250px 250px;
    grid-template-rows: 100px 200px 250px 150px;
    grid-template-areas:
      'a a a a a'
      'b c c d d'
      'b e f g h'
      'b i i i i';
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div:nth-child(1) {
    grid-area: a;
  }

  div:nth-child(2) {
    grid-area: b;
  }

  div:nth-child(3) {
    grid-area: c;
  }

  div:nth-child(4) {
    grid-area: d;
  }

  div:nth-child(5) {
    grid-area: e;
  }

  div:nth-child(6) {
    grid-area: f;
  }

  div:nth-child(7) {
    grid-area: g;
  }

  div:nth-child(8) {
    grid-area: h;
  }

  div:nth-child(9) {
    grid-area: i;
  }
}
